@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

:root {
  --bg: #f3f4f6; 
  --header: #2b6cb0; 
  --link: #ff5733;   
  --text: #4a5568; 
  --font-family: 'Quicksand', sans-serif;
  --navbar-bg: #c8c8c8; 
}

[data-theme='dark'] {
  --bg: #1f2029;     
  --header: #fff;
  --link: #ff5733;   
  --text: hsla(0, 0%, 100%, 0.88);
  --navbar-bg: #15161c; 
  --navbar-link: #f0f0f0;
}

body {
  background-color: var(--bg);
  color: var(--text);
  font-family: var(--font-family);
  margin: 0;
  padding: 0;
  padding-top: 195.72px;
  transition: all 0.5s;
}

a {
  color: var(--link);
  text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
  color: var(--header);
  transition: all 0.5s;
  text-align: center;
}

main {
  padding: 20px;
}

.dark-mode-toggle-container {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  padding-right: 20px;
}

.compose-container {
  width: 100%;
  padding: 10px;
  border: 1px solid #e0e0e0;
  margin-bottom: 15px;
  border-radius: 5px;
  align-items: center;
}

.compose-container .message-content-textarea {
  display: block;
  text-align: left;
  font: .8em sans-serif;
  width: 100%;
  height: 100px;
  margin: 0 auto 10px; 
  resize: both;
  border-radius: 5px;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 1000px; 
  margin: 0 auto; 
  border: 2px solid var(--text);
  padding: 20px; 
  border-radius: 5px; 
}

.container > * {
  text-align: center; 
  margin-bottom: 20px;
}

/* Base button style */
.button {
  cursor: pointer;
  border: none;
  border-radius: 6px;
  padding: 10px 20px;
  font-size: 1rem;
  text-align: center;
  transition: background 0.3s, transform 0.3s;
  margin: 5px;
}

/* Primary button */
.button-primary {
  background: #5468ff;
  color: #fff;
}

.button-primary:hover {
  background: #3c4fe0;
  transform: translateY(-2px);
}

/* Secondary button */
.button-secondary {
  background: #f3f4f6;
  color: #2b6cb0;
  border-radius: 20px;
}

.button-secondary:hover {
  background: #e0e0e0;
  transform: translateY(-2px);
}

/* Disabled button */
.button:disabled {
  background: #c8c8c8;
  cursor: not-allowed;
}


.dob-label {
  font-size: 0.8rem;
  color: var(--text);
  display: block;
  margin-left: 5px;
}

.input {
  border-radius: 5px;
}

.button-29 {
  align-items: center;
  appearance: none;
  background-image: radial-gradient(100% 100% at 100% 0, #5adaff 0, #5468ff 100%);
  border: 0;
  border-radius: 6px;
  box-shadow: rgba(45, 35, 66, .4) 0 2px 4px,rgba(45, 35, 66, .3) 0 7px 13px -3px,rgba(58, 65, 111, .5) 0 -3px 0 inset;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-flex;
  justify-content: center;
  line-height: 1;
  height: 48px;
  list-style: none;
  overflow: hidden;
  padding-left: 16px;
  padding-right: 16px;
  position: relative;
  text-align: left;
  text-decoration: none;
  transition: box-shadow .15s,transform .15s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  will-change: box-shadow,transform;
  font-size: 18px;
  margin-left: 1rem;
}

.button-29:focus {
  box-shadow: #3c4fe0 0 0 0 1.5px inset, rgba(45, 35, 66, .4) 0 2px 4px, rgba(45, 35, 66, .3) 0 7px 13px -3px, #3c4fe0 0 -3px 0 inset;
}

.button-29:hover {
  box-shadow: rgba(45, 35, 66, .4) 0 4px 8px, rgba(45, 35, 66, .3) 0 7px 13px -3px, #3c4fe0 0 -3px 0 inset;
  transform: translateY(-2px);
}

.button-29:active {
  box-shadow: #3c4fe0 0 3px 7px inset;
  transform: translateY(2px);
}

.button-29ish {
  align-items: center;
  appearance: none;
  background-image: radial-gradient(100% 100% at 100% 0, #5adaff 0, #5468ff 100%);
  border: 0;
  border-radius: 6px;
  box-shadow: rgba(45, 35, 66, .4) 0 2px 4px,rgba(45, 35, 66, .3) 0 7px 13px -3px,rgba(58, 65, 111, .5) 0 -3px 0 inset;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-flex;
  justify-content: center;
  line-height: 1;
  height: 30px;
  list-style: none;
  overflow: hidden;
  padding-left: 16px;
  padding-right: 16px;
  position: relative;
  text-align: left;
  text-decoration: none;
  transition: box-shadow .15s,transform .15s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  will-change: box-shadow,transform;
  font-size: 18px;
  margin-left: 1rem;
}

.button-29ish:focus {
  box-shadow: #3c4fe0 0 0 0 1.5px inset, rgba(45, 35, 66, .4) 0 2px 4px, rgba(45, 35, 66, .3) 0 7px 13px -3px, #3c4fe0 0 -3px 0 inset;
}

.button-29ish:hover {
  box-shadow: rgba(45, 35, 66, .4) 0 4px 8px, rgba(45, 35, 66, .3) 0 7px 13px -3px, #3c4fe0 0 -3px 0 inset;
  transform: translateY(-2px);
}

.button-29ish:active {
  box-shadow: #3c4fe0 0 3px 7px inset;
  transform: translateY(2px);
}

.task-button {
  background-image: radial-gradient(100% 100% at 100% 0, #5adaff 0, #5468ff 100%);
  border-radius: 12px;
  color: #000;
  cursor: pointer;
  font-weight: bold;
  text-align: center;
  transition: 200ms;
  width: 7rem;
  height: 2rem;
  box-sizing: border-box;
  border: 0;
  font-size: 16px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  margin-top: 1rem;
  margin-left: 1rem;
}

.task-button:not(:disabled):hover,
.task-button:not(:disabled):focus {
  outline: 0;
  background: #ffffff;
  box-shadow: 0 0 0 2px rgba(0,0,0,.2), 0 3px 8px 0 rgba(0,0,0,.15);
}

.task-button:disabled {
  filter: saturate(0.2) opacity(0.5);
  -webkit-filter: saturate(0.2) opacity(0.5);
  cursor: not-allowed;
}

.task-buttonish {
  background-image: radial-gradient(100% 100% at 100% 0, #5adaff 0, #5468ff 100%);
  border-radius: 12px;
  color: #000;
  cursor: pointer;
  font-weight: bold;
  text-align: center;
  transition: 200ms;
  width: 5rem;
  height: 1.5rem;
  box-sizing: border-box;
  border: 0;
  font-size: 12px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  margin-left: 1rem;
}

.task-buttonish:not(:disabled):hover,
.task-buttonish:not(:disabled):focus {
  outline: 0;
  background: #ffffff;
  box-shadow: 0 0 0 2px rgba(0,0,0,.2), 0 3px 8px 0 rgba(0,0,0,.15);
}

.task-buttonish:disabled {
  filter: saturate(0.2) opacity(0.5);
  -webkit-filter: saturate(0.2) opacity(0.5);
  cursor: not-allowed;
}

.home-title {
  margin-top: -2.75rem;
}

.message {
  text-align: left;
  border: 1px solid #e0e0e0;
  padding: 10px;
  margin: 10px 0;
  border-radius: 5px;
}

.message-container {
  text-align: left;
  width: 100%;
  margin: 0 auto;
}

.navbar-link {
  line-height: 1rem;
  width:7rem;
  height: 2rem;
  box-shadow: #000;
}

.navbar-link {
  align-items: center;
  appearance: button;
  background-color: #0276FF;
  border-radius: 8px;
  border-style: none;
  box-shadow: rgba(255, 255, 255, 0.26) 0 1px 2px inset;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: flex;
  flex-direction: row;
  flex-shrink: 0;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
  padding: 10px 21px;
  text-align: center;
  text-transform: none;
  transition: color .5s ease-in-out,background .5s ease-in-out,opacity .5s ease-in-out,box-shadow .5s ease-in-out;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: 10rem;
  justify-content: center;
}

.navbar-link:active {
  background-color: #006AE8;
}

.navbar-link:hover {
  background-color: #1C84FF;
}

.available-pets-container {
  width: 100%;
}

.pet-card {
  border: 1px solid #e0e0e0;
  padding: 10px;
  margin: 10px;
  border-radius: 5px;
  text-align: center;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); /* Add a shadow */
  transition: transform 0.3s, box-shadow 0.3s; /* Smooth transition for hover effect */
}

.pet-card:hover {
  transform: translateY(-5px); /* Lift the card on hover */
  box-shadow: 0px 6px 8px rgba(0, 0, 0, 0.2); /* Increase shadow on hover */
}

.pet-card img {
  border-radius: 5px;
  margin-bottom: 10px; /* Space between image and text */
}

.pet-card h3 {
  font-size: 1.2rem; /* Increase font size for pet name */
  margin-bottom: 5px; /* Control spacing */
}


.pet-image {
  width: 150px;
  height: 150px;
  object-fit: cover; 
  border-radius: 5px;
}

.pets-list {
  width: 100%;
}

.register-section {
  text-align: center;
}

.resource-item {
  text-align: left;
  border: 1px solid #e0e0e0;
  padding: 10px;
  margin: 10px 0;
  border-radius: 5px;
}

.search-container {
  text-align: center;
}

textarea[name="medical_conditions"] {
  width: 100%; 
  min-height: 50px; 
  resize: vertical;
  font: .9em sans-serif; 
  border-radius: 5px;
}

input[name="image_url"] {
  width: 100%;
}

.contact-information-textarea {
  font: .9em sans-serif;
  border-radius: 5px;
}
