.navbar {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--navbar-bg, #f0f0f0);
    padding: 10px;
  }
  
  .navbar-title {
    font-size: 1.3rem; 
    font-weight: bold;
  }
  
  .navbar-links {
    display: flex;
    gap: 15px;
    font-size: 1.1rem;
    align-items: left;
  }
  
  .navbar-links a {
    text-decoration: none;
    color: var(--navbar-link, #333);
  }
  
  
  @media (max-width: 600px) {
    .navbar-title {
      font-size: 1.1rem; 
    }
  
    .navbar-links {
      font-size: 0.8rem;
    }
  }
  